* {
    box-sizing: border-box;
    font-family: 'Lucida Sans';
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    margin: 0;
}

header {
    text-align: center;
}

#foto {
    width: 20%;
}