* {
    box-sizing: border-box;
    font-family: 'Lucida Sans';
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    margin: 0;
    background-color: #f7f7f7;
}

header {
    text-align: center;
    padding: 20px;
}

#judul {
    font-size: 30px;
}

#foto {
    width: 15%;
    float: left;
    border: 6px solid #fff;
    border-radius: 4px;
    padding: 0px;
}

#table-biodata {
    float: left;
    border-top: 4px solid #fff;
    width: 80%;
    margin-left: 10px;
}

#table-biodata td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#table-biodata #data {
    width: 35%;
}

#table-biodata #titikDua {
    width: 2px;
}

#table-krs tr:nth-child(even){
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    padding: 40px;
}