* {
  margin: 10px auto;
  max-width: 500px;
}

$colorNavy: navy;
$colorBlack: black;
$fontSize: 14px;
h1 {
  color: $colorNavy;
}
ul {
  font-size: $fontSize;
  li {
    float: left;
    margin-right: 80px;
    list-style: none;
    a {
      text-decoration: none;
      color: $colorBlack;
    }
    a:hover {
      color: $colorNavy;
      font-weight: bold;
    }
  }
}

@mixin bordered($width, $radius) {
  border: $width solid $colorNavy;
  border-radius: $radius;
  &:hover {
    background-color: $colorNavy;
    color: #fff;
  }
}

.space {
  padding: 20px;
}

p {
  @include bordered(2px, 20px);
  @extend .space;
}

td {
  @include bordered(2px, 10px);
  @extend .space;
}
