body {
  background: #000;
  font-family: roboto;
  text-align: center;
}
h1,
h2 {
  color: #fff;
}
.ketengah {
  margin: 10px auto;
  width: 1150px;
}
.kotak {
  background: #fcfcfc;
  padding: 20px;
  float: left;
  margin: 50px;
  width: 150px;
  height: 150px;
}
.kotak2 {
  /* matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()) */
  -ms-transform: matrix(1, 2, -1, 1, 5, 4); /* Support IE 9 */
  -webkit-transform: matrix(1, 2, -1, 1, 5, 4); /* support Safari */
  transform: matrix(1, 2, -1, 1, 5, 4); /* Standard syntax */
}
