* {
    margin: 0px auto
    padding: 0px
    text-align: center
}

// Variable
font-headingPertama = 20px
font-headingKedua = 18px
colorPertama = #0088b9
colorKedua = #fff

h1 {
    font-size: font-headingPertama
    color: colorPertama
    background: colorKedua
}
h2 {
    font-size: font-headingKedua
    color: colorKedua
    background: colorPertama
}