* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}
h1 {
  font-size: 20px;
  color: #0088b9;
  background: #fff;
}
h2 {
  font-size: 18px;
  color: #fff;
  background: #0088b9;
}
ul {
  color: #0088b9;
}
ul li {
  float: left;
  padding-left: 290px;
  list-style: none;
}
ul li a {
  text-decoration: none;
}
ul li a:hover {
  color: #fff;
}
