.untukImport strong 
    color: #fff
    background-color: #0088
    border: 1px solid
    border-radius: 10px
    padding: 4px

    &:hover 
        background-color: #0088b9
.untukImport p 
    color #0088b9
    padding-top: 4px