* {
    margin: 0px auto
    padding: 0px
    text-align: center
}

// Variable
font-headingPertama = 20px
font-headingKedua = 18px
colorPertama = #0088b9
colorKedua = #fff

h1 {
    font-size: font-headingPertama
    color: colorPertama
    background: colorKedua
}
h2 {
    font-size: font-headingKedua
    color: colorKedua
    background: colorPertama
}

// Nesting
ul 
   color: colorPertama
   li
        float left
        padding-left: 290px
        list-style none
        a
            text-decoration: none
            &:hover 
                color: colorKedua
            
// Mixins
bordered(w) 
    border: w solid colorPertama
    &:hover
        border-color: colorKedua
.untukMixins h4 
    bordered(4px)
.untukMixins h5 
    bordered(5px)

// Extends
.kumpulan 
    padding: 4px 2px 
.untukExtends p 
    @extends .kumpulan
    bordered(10px)
.untukExtends h4 
    @extends .kumpulan

// Color Operations
.oneColor
    background: colorPertama
    width: 200px
    height: 200px
    background: saturate(colorPertama)
    // background: lightness(colorPertama)
    // background: saturation(colorPertama)
    // background: red(#999)
    // background: green(#03fc3d)
    // background: blue(#0349fc)
    // background: alpha(#0349fc)
    // background: dark(#0349fc)
    // background: light(#0349fc)
    // background: hue(#0349fc)