body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
  padding-top: 6px;
  font-size: 26px;
}
h2 {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 22px;
  background-color: #b7b5b3;
  color: #fff;
  padding: 6px 10px;
  border-radius: 10px;
}
table,
th,
td {
  border: 0px solid #000;
  border-collapse: collapse;
  padding: 10px;
}
table {
  width: 100%;
}
#table-header {
  font-weight: bold;
}
input {
  margin-top: 4px;
  padding: 6px 0px;
  padding-left: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 99%;
}
