/* Style Untuk Semua */
* {
  font-family: century-gothic, sans-serif;
  margin: 0;
}
/* Style Navbar */
nav {
  height: 60px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
}
/* Style Logo Navbar */
nav img {
  height: 40px;
  padding-left: 30px;
  padding-top: 10px;
  float: left;
}
/* Style List Navbar */
li {
  float: left;
  font-size: 20px;
  padding-top: 18px;
  padding-left: 150px;
}
li ul {
  float: left;
  padding-right: 10px;
}
li ul a {
  text-decoration: none;
  color: #000;
}
/* Style Button Navbar */
#button {
  padding-top: 18px;
  float: right;
  padding-right: 30px;
}
#button a {
  text-decoration: none;
  font-size: 20px;
  border: 2px solid #3d7b3e;
  border-radius: 4px;
  padding: 2px 4px;
}
#button #button-masuk {
  color: #3d7b3e;
}
#button #button-daftar {
  margin-left: 20px;
  color: #fff;
  background-color: #3d7b3e;
}
/* Style Jumbotron */
#jumbotron {
  height: 580px;
  background-image: url(image/BackgroundJumbotron.png);
}
/* Style Heading dan Paragraf Jumbotron */
#jumbotron h1 {
  padding-top: 127px;
  padding-left: 127px;
  color: #fff;
  font-size: 36px;
}
#jumbotron p {
  font-size: 24px;
  color: #fff;
  padding-top: 15px;
  padding-left: 127px;
  padding-bottom: 23px;
}
/* Style Button Jumbotron */
#jumbotron #button-beli-sekarang {
  text-decoration: none;
  font-size: 24px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-left: 127px;
  padding: 6px 12px;
  color: #3d7b3e;
  background-color: #fff;
}
/* Style About */
#tentang-kami {
  height: 218px;
  background-color: #fff;
  text-align: center;
}
#tentang-kami h2 {
  font-size: 28px;
  color: #3d7b3e;
  padding-top: 21px;
}
#tentang-kami p {
  font-size: 24px;
  padding-top: 20px;
}
/* Style Produk */
#produk {
  height: 534px;
  background-color: #f9fbfb;
}
#produk h2 {
  text-align: center;
  color: #3d7b3e;
  padding-top: 21px;
  font-size: 28px;
}
/* Style Produk List */
#produk-list {
  float: left;
  padding-left: 9.5%;
}
#produk1 {
  float: left;
  height: 350px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 32px;
  margin-top: 20px;
  text-align: center;
}
#produk1 img {
  border-radius: 10px 10px 0px 0px;
}
#produk1 p {
  font-size: 18px;
  padding-bottom: 6px;
}
/* Style Produk Button */
#produk1 a {
  text-decoration: none;
  color: #3d7b3e;
  font-weight: bold;
}
#button-lihatproduklainnya {
  position: absolute;
  color: #fff;
  left: 533px;
  top: 1257px;
  padding: 5px 30px;
  font-size: 24px;
  text-decoration: none;
  border: 2px solid #3d7b3e;
  background: #3d7b3e;
  border-radius: 30px;
}
/* Style Pelayanan */
#pelayanan {
  background-color: #fff;
  height: 390px;
  text-align: center;
}
#pelayanan h2 {
  color: #3d7b3e;
  padding-top: 21px;
  font-size: 28px;
}
#pelayanan1 {
  padding-top: 18px;
  float: left;
  padding-left: 66px;
  font-size: 24px;
}
#pelayanan1 h3 {
  padding-bottom: 20px;
}
/* Style Kontak */
#kontak {
  background-color: #f9fbfb;
  height: 480px;
}
#kontak h2 {
  text-align: center;
  color: #3d7b3e;
  font-size: 28px;
  padding-top: 21px;
}
#kontak-form {
  padding-top: 20px;
  padding-left: 380px;
}
#kontak-form label {
  font-size: 18px;
  font-weight: bold;
}
#kontak-form input {
  width: 600px;
  height: 30px;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 2px 8px;
}
#kontak-form textarea {
  width: 600px;
  border: 1px solid #f1f1f1;
  margin-top: 8px;
  border-radius: 6px;
  padding: 4px 8px;
}
