* {
  margin: 0px auto;
  text-align: center;
  max-width: 500px;
}

// Variable
@font-heading1: 30px;
@font-heading2: 15px;
@colorBlack: #000;
@colorBlue: #0088b9;
h1 {
  font-size: @font-heading1;
  color: @colorBlue;
  padding: 10px;
}
h2 {
  font-size: @font-heading2;
  color: @colorBlack;
  padding-bottom: 4px;
}
